@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-neutral: #F9F9EE;
    --color-darkblue: #003459;
    --color-red: #EA2D49;
    --color-neutral60: #667479;
}

body{
    background-color: #F9F9EE;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}

ul{
    padding: 0;
}

nav {
    width: 100%;
    height: 58px;
    background-color: var(--color-neutral);
    position: sticky;
    top: 0;
    z-index: 200;
    /* padding: 0 16px; */
    color: var(--color-darkblue);
    box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.08);
}

.navbar {
    display: flex;
    flex-direction: column;
    /* border-bottom: var(--color-darkblue) 2px solid; */
    /* height: 58px; */
    padding-top: 6px;
    padding-bottom: 12px;
}
  
.navbar-links {
    height: 100%;
    display: none;
    /* margin-top: 40px; */
}
  
.navbar-links ul {
    display: flex;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}
  
.navbar-links ul li {
    text-align: center;
}
  
.navbar-links li a {
    display: block;
    color: var(--color-darkblue);
    padding: 1rem;
    background-color: var(--color-neutral);
    font-weight: 500;
}
  
.navbar-links li:hover a {
    background-color: var(--color-darkblue);
    color: var(--color-neutral);
}
  
.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 6px;
    
}
  
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: var(--color-darkblue);
    border-radius: 10px;
}
  
.navbar-links.active {
    display: flex;
    /* margin-top: 50px; */
}
  
.navbar div:nth-child(1) {
    /*  logo */
    width: 222px;
    height: 34px;
    background-image: url(../assets/img/logo.png);
    font-size: 0;
    margin: 5px 0 0 15px;
}

/*------------ home ------------*/
  
main{ 
    padding: 30px 20px;
}

.homebanner{
    color: var(--color-darkblue);
    text-align: center;
    padding: 300px 16px 0 16px;
    background: url(../assets/img/manreading-mobile.png) center top no-repeat;
    margin-top: 50px;
    font-size: 16px;
}

.homebanner h1{
    line-height: 1.3em;
    font-size: 2.5em;

}
  
.homebanner h1 span{
    display: block;
    font-weight: 500;
    font-size: 0.7em;
    /* margin-top: -10px; */
    line-height: 1.1em;
    
}

/* .homebanner h1 span::first-letter {
    text-transform: uppercase;
} */

.homebanner p{
    font-size: 1em;
    margin-bottom: 30px;
}

.btn, button{
    padding: 10px 25px;
    border: 1.5px solid var(--color-darkblue);
    border-radius: 57px;
    background-color: transparent;
    font-size: 0.8em;
    color: var(--color-darkblue);
    transition: all 0.2s ease;
}

.btn:hover, button:hover{
    background-color: var(--color-darkblue);
    color: var(--color-neutral);
}

/*------------ footer ------------*/
footer{
    height: 150px;
    max-width: 1350px;
    margin: 50px auto 0 auto;
    padding: 0 25px;
    font-size: 0.9em;
}

footer ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    /* max-width: 1180px; */
    padding: 40px 10px 0 10px;
    border-top: 1px solid #CCD1D2;
    color: #667479;
}

footer a{
    cursor: pointer;
    font-size: 0;
    display: inline-block;
    width: 40px;
    height: 45px;
    background: url(../assets/img/logo2.png) no-repeat center;
    margin: 10px auto;
}


/*------------ Pagina de productos ------------*/
/* migas */
.breadcumbs{
    font-size: 0.8em;
    margin: 20px 0 ;
    color: var(--color-neutral60);
    cursor: pointer;
}

.breadcumbs a {
    font-size: 1em;
    color: var(--color-neutral60);
}

.breadcumbs a:hover{
    text-decoration: underline;
}

h1{
    line-height: 1em;
    font-size: 1.7em;
    color: var(--color-darkblue);
}

h1 span{
    font-size: .6em;
    display: block;
    color: black;
    font-weight: 500;
}

.listadelibros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.listadelibros > li{
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
    cursor: pointer;
    border: transparent 2px solid;
}

.listadelibros > li:hover{
    scale: 0.99;
    border: var(--color-red) 2px solid;
}


.listadelibros img{
    max-height: 200px;
    height: 100%;
    max-width: 100%;
}

.listadelibros li > div:first-of-type ul li{
    text-align: left;
    padding: 3px;
    font-size: 0.7em;
}

.listadelibros li > div:first-of-type{
    padding-top: 10px;
}

.listadelibros h2{
    margin: 0;
    font-size: 1.3em;
    padding: 0;
    line-height: 1.2em;
    transition: all 0.2s ease;
}



.listadelibros li > div:first-of-type ul li:nth-of-type(2){
    margin-top: -5px;
}

.listadelibros li > div:first-of-type ul li:last-of-type{
    font-weight: 700;
    font-size: 1em;
    color: var(--color-darkblue);
}


/*------------ Pagina de categorías ------------*/

/* cantidad de prod. encontrados */
header p:nth-child(4){
    margin-top: -15px;
}

/* categroias */
header > ul{
    font-size: 0.8em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 30px 0;
}


header > ul li{
    padding: 10px 0 4px 0;
    border-radius: 8px;
    transition: all 0.2s ease;
}


header > ul li a{
    display: block;
    padding-top: 56px;
    width: 100px;
    margin: auto;
    background: url(../assets/img/categorias-blue-mobile.png) no-repeat;
    color: var(--color-darkblue);
    transition: all 0.1s ease;
}

header > ul li:hover{
    background-color: var(--color-darkblue);
}
header > ul li:hover a{
    background: url(../assets/img/categorias-white-mobile.png) no-repeat;
    color: white;
}

header > ul li:nth-child(1) a{
    background-position: 0 0;
}
header > ul li:nth-child(2) a{
    background-position: -100px 0;
}
header > ul li:nth-child(3) a{
    background-position: -200px 0;
}
header > ul li:nth-child(4) a{
    background-position: -300px 0;
}
header > ul li:nth-child(5) a{
    background-position: -400px 0;
}
header > ul li:nth-child(6) a{
    background-position: -500px 0;
}




/*------------ Pagina de detalles ------------*/
.detalles{
    margin-top: 30px;
    /* text-align: center; */
}

.detalles img{
    /* height: 100%; */
    max-height: 300px;
    display: block;
    margin: auto;
}

.detalles > div > div:first-child{
    text-align: center;
    margin: 30px auto 60px auto;
}

/* autor y genero */
.detalles > div > div:first-child p:nth-of-type(1), .detalles > div > div:first-child p:nth-of-type(2){
    color: var(--color-neutral60);
    font-size: 0.8em;
    margin: 0;
}
/* titulo del libro */
.detalles h1{
    margin: 5px 5px 10px 5px;
    line-height: 1.1em;
}

/* precio */
.detalles > div > div:first-child p:nth-of-type(3){
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 15px;
}



.detalles h2{
    font-size: 1.4em;
    margin: 60px 0 10px 0;
}

.detalles > div > p, .detalles > div > ul {
    margin: 12px 0;
}

.detalles > div > ul span{
    font-weight: 700;
}




/*------------ Pagina de contacto ------------*/

/* cantidad de prod. encontrados */
header p:nth-child(2){
    margin-bottom: 0;
}

.contactoh1{
    font-size: 2.5em;
    margin-top: 0;
}

form{
    max-width: 400px;
    margin: auto;
}


form>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea{
    height: 44px;
    border-radius: 8px;
    padding: 8px;
    background-color: transparent;
    /* color: white; */
    border: var(--color-darkblue) solid 1px;
    margin-top: 6px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

textarea{
    height: 140px;
}

form p{
    font-size: 0.8em;
    color: var(--color-neutral60);
    padding: 10px 0 16px 0;
}

.formularioenviado{
    margin: 30px auto;
    padding: 150px 30px 0 30px;
    max-width: 700px;
    background: url(../assets/img/check.png) top center no-repeat;
    background-size: 150px 150px;
    text-align: center;
}

.formularioenviado h1{
    line-height: 1.2;
}

.formularioenviado p:last-of-type{
    font-size: 0.8em;
    margin-bottom: 30px;
}

.formularioenviado span{
    font-weight: 700;
}

@media (min-width: 420px) {
    .listadelibros {
        grid-template-columns: repeat(2, 1fr);
    }
}



/*------------ ##### ------------*/
/* footer ul li:nth-child(1) {
    order: 1;
  } */

/* @media (min-width: 850px) {
} */







@media (min-width: 640px) {
    footer ul{
        flex-direction: row;
        align-items: center;
        
        
    }
    footer ul li:nth-of-type(2){
        display: flex;
        align-items: center;
    }
    footer a{
        margin: 0;
    }

    .listadelibros {
        grid-template-columns: repeat(3, 1fr);
    }

    header > ul{
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        margin: 30px 0 50px 0; 
    }

    

    /* footer ul li:nth-child(1) {
        order: 2;
      } */

}


@media (min-width: 850px) {

    /* nav */
    nav {
      height: 56px;
    }
    .navbar {
      flex-direction: row;
      align-items: center;
      height: 56px;
      justify-content: space-between;
      max-width: 1300px;
      width: 100%;
      padding: 0 30px;
      margin: auto;
    }
  
    .navbar div:nth-child(1) {
      /*  logo */
      margin-top: 0;
    }
  
    .toggle-button {
      display: none;
    }
  
    .navbar-links {
      display: flex;
    }
  
    .navbar-links ul {
      flex-direction: row;
      align-items: center;
      margin: 0;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.1em 0.9rem;
      position: relative;
      display: inline-block;
      color: var(--color-darkblue);
      
    }

    .navbar-links li:hover a {
        background-color: transparent;
        color: var(--color-red);
      }
    
      .navbar-links ul li a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-red);
        border-radius: 4px;
        scale: 0 1;
        transform-origin: right;
        transition: scale 0.25s;
      }
    
      .navbar-links ul li a:hover::before {
        scale: 1;
        transform-origin: left;
      }


    .listadelibros {
        grid-template-columns: repeat(4, 1fr);
    }

    main{ 
        padding: 20px 50px;
        max-width: 1300px;
        width: 100%;
        margin: auto;
    }

    .detalles{
        margin-top: 40px;
        display: grid;
        grid-template-columns: minmax(40%, 360px) 1fr;
        grid-gap: 4%;
    }

    .detalles img{
        margin: 0;
        padding: 0 30px;
        width: 100%;
        max-height: 600px;
    }

    .detalles > div > div:first-child{
        text-align: left;
        margin: 0 auto 40px auto;
    }


}

@media (min-width: 960px) {

    body{
        font-size: 20px;
    }

    .homebanner{
        background: none;
        padding: 0 80px;
        height: 65vh;
        min-height: 450px;
        /* border: #003459 1px solid; */
        display: flex;
        align-items: center;
        text-align: left;
        max-width: 1300px;
        background: url(../assets/img/manreading-desk.png) center no-repeat;
        margin: 50px auto;
        font-size: 22px;
    }

    .homebanner div:first-child{
        width: 40%;
    }

    .homebanner h1{
        font-size: 3.1em;
    }

    .homebanner h1 span{
        font-size: 2rem;
        line-height: 1.1em;
        
    }


}

